
<div class="container" style="padding-top: 20px;background-color: #EAEAEA">
    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <img src="/img/wx_logo.png" style="width: 80%">
        </div>
    </div>
</div>
<div class="div_foot">
    All Rights Reserved 2019-小宇家
</div>

</body>
</html>