<%include mHeader%>
<link href="/css/pages/mLtxza.css" rel="stylesheet" media="screen">
<div class="div_head">

</div>
<div class="div_content" style="display: table;">
    <!--页面内容放在这儿-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="/img/ltxza/ltxza.jpeg" style="width: 100%">
            </div>
            <div class="col-xs-12" style="margin-top:20px;text-align: center; font-size: 24px; font-weight: bold; color: green">
                小宇家*蓝天下至爱系列活动
            </div>
            <div class="col-xs-12 margin-top-20">
                <div class="row div-activity">
                    <div class="col-xs-3" style="line-height: 100px;">
                        <img src="/img/ltxza/activity_1.jpeg" style="width: 100%">
                    </div>
                    <div class="col-xs-9">
                        <p class="activity-title">李子园大厦圣诞之夜“蓝天下的至爱”爱心捐赠活动</p>
                        <p class="activity-content">活动时间: 2020-12-24（已结束）</p>
                        <p class="activity-content">参与人数: 361</p>
                        <p class="activity-content">
                            <a href="https://jinshuju.net/f/X72F7t" style="color: grey">爱心捐赠</a>&nbsp;&nbsp;
                            <a href="https://yhome.tltr.top/exchange/xmasActivityItems">物品展示</a>&nbsp;&nbsp;
                            <a href="https://mp.weixin.qq.com/s/TZeTEZCvjOa_Efgybgh8Ww">活动报道</a>
                        </p>
                    </div>
                </div>

                <div class="row div-activity">
                    <div class="col-xs-3" style="line-height: 100px;">
                        <img src="/img/ltxza/activity_2.jpeg" style="width: 100%">
                    </div>
                    <div class="col-xs-9">
                        <p class="activity-title">小宇家-“蓝天下的至爱”第二期*燕宁苑专场</p>
                        <p class="activity-content">活动时间: 2021-01-09（筹备中）</p>
                        <p class="activity-content">参与人数: </p>
                        <p class="activity-content">
                            <a href="https://jinshuju.net/f/BjBjYp">爱心捐赠</a>&nbsp;&nbsp;
                            <a href="https://jinshuju.net/f/PNvPtm">盲盒献爱心</a>
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
    <!--额外的一些JavaScript放在这儿-->

</script>

<%include mFooter%>

