<%include mHeader%>

<link href="/css/pages/mLtxzaMyBox.css" rel="stylesheet" media="screen">
<div class="div_head">
    <p style="font-size: 20px; font-weight: bold; color: green"><%= activityName%></p>
</div>
<div class="clearfix"></div>
<div class="div_content" style="display: table;">
    <!--页面内容放在这儿-->
    <div class="container">
        <div class="row div-subtitle margin-bottom-20">
            我选择的盲盒
        </div>
        <div class="row margin-bottom-10">
            <div class="col-xs-12">
                <div id="div_items" style="min-height: 200px; text-align: center">
                </div>
            </div>
        </div>
        <div class="row margin-bottom-30">
            <div class="col-xs-12 text-center">
                <button id="btn_go_box" type="button" class="btn btn-warning">参与盲盒义卖</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/plugins/handlebars/handlebars.js"></script>

<script type="text/x-handlebars-template" id="itemTemplate">
    {{#each this}}
    <div id="div_item_{{this.id}}" class="div-item">
        <div class="row">
            <div class="col-xs-3 item-name">{{this.boxName}}</div>
            <div class="col-xs-2 item-name">{{this.boxAmount}}元</div>
            <div class="col-xs-3 item-name">{{this.contactName}}</div>
            <div class="col-xs-4 item-name">{{this.contactMobile}}</div>
        </div>
        <div class="clearfix"></div>
    </div>
    {{/each}}
</script>

<script>
    let activityId = '<%= activityId%>'
    <!--额外的一些JavaScript放在这儿-->
    function getMoreItems() {
        let url = '/ajax/activity/ltxza/<%= activityId%>/myBox'
        $.ajax({
            url:url,
            method:'GET'
        }).done(function(data){
            let items = data.items
            if(data.items.length > 0 ){

                let source   = $("#itemTemplate").html();
                let template = Handlebars.compile(source);
                let html     = template(items);

                $('#div_items').html(html)
            }
            else{
                $('#div_items').html("<span style='color:grey;'>您还没有选过盲盒，点击下方按钮参与吧~</span>")
            }
        });
    }

    function initMe() {
        getMoreItems()

        $('#btn_go_box').click(function(){
            $(location).attr('href', 'https://jinshuju.net/f/'+activityId)
        })
    }

    $(document).ready(function() {
        initMe();
    });

</script>

<%include mFooter%>

