<%include mHeader%>

<div class="div_head">
    <span id="span_title">小宇家社区</span>
</div>
<div class="div_content" style="display: table;">
    <!--页面内容放在这儿-->
</div>


<script>
    <!--额外的一些JavaScript放在这儿-->

</script>

<%include mFooter%>

