<%include mHeader%>

<div class="div_content" style="display: table;">
    <div class="row" style="margin-top: 40px;">
        <div class="col-xs-12" style="text-align: center">
            <%= errMessage%>
        </div>
    </div>
</div>


<script>
    <!--额外的一些JavaScript放在这儿-->

</script>

<%include mFooter%>

