.div_head{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #EAEAEA;
}

.div_content{
    min-height: 600px;
    background-color: #EAEAEA;
    width: 100%;
}

.div_foot{
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    height: 30px;
    line-height: 30px;
    background-color: #EAEAEA;
    color: grey;
}

.div_sec{
    background-color: white; margin: 10px 5px; border-radius: 5px;border-top: 3px solid #00a65a; padding-bottom: 8px;
}
.div_sec_head{
    font-size: 18px;
    padding: 8px;
}

.div_sec_key{
    text-align: right; font-size: 14px;font-weight: bold;
}
.div_sec_value{
    font-size: 14px; text-align: left;
}