.myfont-order-count{
    font-weight:bold;
    color:red;
}


.div-search-noresult{
    font-size:22px;
    color:#888;
    text-align: center;
    height: 300px;
    line-height: 30px;
    margin-top: 60px;
}

.div-search-result .list-order-item{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 2px 2px 5px 2px;
    padding: 5px 0px;
}

.span_hide {
    visibility: hidden;
}

.span_show {
    visibility: visible;
}